!!!
html
  head
    title= 'Bolt'
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/jquery.timeago.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/main.js')
  body
    div#wrap
        h1 Bolt
        != body
