!!!
html
  head
    title= 'Bolt'
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/jquery.timeago.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/main.js')
  body
    div#top
        a(href='/') Bolt
        - if (typeof(auth) !== 'undefined')
            div#actions
                a(href='/logout') Logout
                a(href='/users') Users
                a(href='/') Home

    div#wrap
        != body

    div#footer
        p
            &copy; 2011 - Honza Pokorny
