h3 Register

form(method='post')
    ul
        li
            label username:
        li
            input(type='text', name='username')
        li
            label password:
        li
            input(type='password', name='password')
        li
            input(type='submit', value='Register')
