body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #00B7FF;
}

#wrap {
    width: 600px;
    margin: 0 auto;
    background: #ececec;
    padding: 30px;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

div.message {
    padding: 20px;
    border: 1px solid #333;
    margin: 10px 0;
}

.message strong {
    display: inline-block;
    margin-right: 10px;
}

abbr.timeago {
    display: block;
    margin-left: 10px;
}
